.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border: 3px gray solid;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#showcase {
	margin-top: 100px;
}

p {
	font-size: 20px;
}

.container2 {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/39/Terwilliger_Hot_Springs_2016-04-04.JPG);
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
    justify-content: center;
    align-items: center; 
    height: 800px;
}

.inner-container {
	width: 50%;
}

#content-container {
	display: flex;
	justify-content: center;
    flex-direction: column;
}

#content-headline {
    text-align: center;
	align-content: center;
	color: green;
}

#contentp {
    text-align: center;
}

.container {
    margin-top: 100px;
}

