<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Explorer display page with all their posts to edit</h1>
		<%@explorer.hotsprings.each do |hotspring| %>
	
	<h2><a href="/hotsprings/<%=hotspring.slug%>/edit"><%=hotspring.name%></a></h2>
		<%end%>

</body>
</html>