<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="navbar">
	  <a href="/">Homepage</a>
	  <a href="/logout">Logout</a>
	<!--   <a href="#contact">Browse</a> -->
</div>


<div class="container">
	<h1>Welcome, <%=@explorer.username%>! Please select from the options below:</h1>
	<p><a href="/hotsprings">Browse all Hotsprings</a></p>
	<p><a href="/display">View/edit Hotsprings that you have posted</a></p>
	<p><a href="/hotsprings/new">Add a new Hotspring to your collection</a></p>
</div>


</body>
</html>