<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome, <%=@explorer.username%>! Please select from the options below:</h1>
	<p><a href="/hotsprings">Browse all Hotsprings</a></p>
	<p><a href="/display">View/edit Hotsprings that you have posted</a></p>
	<p><a href="/hotsprings/new">Add a new Hotspring to your collection</a></p>

</body>
</html>