<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Please fill out the form below to get started!</h1>
	<form action="/signup" method="post">
		<label>Username: </label>
		<input type="text" name="username">
		<label>Email address: </label>
		<input type="text" name="email">
		<label>Password: </label>
		<input type="password" name="password">
		



		<input type="submit" name="submit">
	</form>
</body>
</html>