<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="navbar">
  
  <a href="/hotsprings/new">Add Hotspring</a>
  <a href="/logout">Logout</a>
<!--   <a href="#contact">Browse</a> -->
</div>

<div class="container">
	<h1>Browse all hotsprings index page</h1>
		<%@hotsprings.each do |hotspring| %>
			<h2>Hotspring Name: <a href="/hotsprings/<%=hotspring.slug%>"><%=hotspring.name%></a>  Closest City: <%=hotspring.city%></h2>
		<%end%>
</div>


</body>
</html>