<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="navbar">
  
  <a href="/hotsprings">Browse</a>
  <a href="/logout">Logout</a>
<!--   <a href="#contact">Browse</a> -->
</div>


<div class="container">
	<h1>Create a new hotsprings landing page</h1>
		<form action="/hotsprings" method="post">
			<label>Name of Hotspring: </label>
			<input type="text" name="name"><br>
			<label>Closest city: </label>
			<input type="text" name="city"><br>
			<label>State: </label>
			<input type="text" name="state"><br>
			<label>Directions to Hotspring: </label>
			<input type="text" name="directions"><br>
			<label>Description of Hotspring: </label>
			<input type="text" name="description"><br>


			<input type="submit" name="submit">
		</form>
</div>

</body>
</html>