<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Create a new hotsprings landing page</h1>
		<form action="/hotsprings" method="post">
			<label>Name of Hotspring: </label>
			<input type="text" name="name">
			<label>Closest city: </label>
			<input type="text" name="city">
			<label>State: </label>
			<input type="text" name="state">
			<label>Directions to Hotspring: </label>
			<input type="text" name="directions">
			<label>Description of Hotspring: </label>
			<input type="text" name="description">


			<input type="submit" name="submit">
		</form>

</body>
</html>