

	<h1>home landing page</h1>

	
	<p>This is a community powered application, please share freely and treat the areas with respect.  In order to contribute and view Hot Springs, <a href="/signup">please signup now!</a>  <a href="/login">If you're already a member, please login now!</a></p>

