<!DOCTYPE html>
<html>
<head>
	<title></title>
	

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/flexboxgrid.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css">
	
	
</head>
<body>
	<h1><%=yield%></h1>

</body>
</html>